<!DOCTYPE html>
<html>
  <head>
    <title>Dojo express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/api/v1/save-data">
      <input type="text" name="name" placeholder="Nombre">
      <input type="text" name="phone" placeholder="Teléfono">
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
